html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Roboto;
  --general-padding: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr; 
}

.sidebar {
  /*border: 4px solid blue;*/
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #03A9F4;
  color: white;
  row-gap: 10px;
  padding: var(--general-padding);
}

.dashboard {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-size: inherit;
}

.material-symbols-outlined {
  font-size: inherit;
  margin-right: 10px;
}

.sections {
  font-size: 1rem;
}

.sections a, 
.others a {
  text-decoration-line: none;
  color: white;
  font-weight: bold;
}

.others {
  font-size: 1rem;
}

.sections, 
.others {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 20px;
  padding: var(--general-padding);
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  color: black;
}

.notifications {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
}

.notification-icon {
  color: black;
}

.notifications > img {
  width: 20px;
  height: auto;
}

.notifications > p {
  font-size: 1rem;
  font-weight: bold;
}

.search-input {
  width: 80%;
  height: 1.5rem;
  background-color: rgb(219, 219, 219);
  border-radius: 15px;
}

.hello {
  display: flex;
  column-gap: 10px;
}

.hello > img {
  display: flex;
  width: 25px;
  height: auto;
}

.name-and-user {
  display: flex;
  flex-direction: column;
}

.name-and-user > p {
  padding-bottom: 0;
  margin: 0;
}

.name-and-user p:first-child {
  font-size: 0.8rem;
}

.name-and-user p:last-child {
  font-weight: bold;
}

.header .buttons {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.header .buttons button {
  background-color: #03A9F4;
  border-radius: 15px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(219, 219, 219);
}

.projects {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.projects,
.announcements,
.trending {
  padding: var(--general-padding);
}

.content h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.content h3 {
  font-size: 1rem;
  margin-bottom: 0px;
}

.projects-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.projects-description > div {
  box-shadow: -8px 0px #cfbb00;
  background-color: white;
  border-radius: 10px;
  padding: var(--general-padding);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px darkgray;
}

.projects-description p {
  font-size: 0.8rem;
  color: rgb(133, 133, 133);
}

.projects .icons {
  display: flex;
  justify-content: flex-end;
}

.announcements {
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
}

.announcements-description {
  background-color: white;
  border-radius: 10px;
  padding: var(--general-padding);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  box-shadow: 2px 2px darkgray;
}

.announcements-description > div {
  box-shadow: 0px 1px #b5b5b5;
}

.announcements-description > div:last-child {
  box-shadow: 0px 0px;
}  

.announcements-description p {
  font-size: 0.6rem;
  color: rgb(133, 133, 133);
}

.announcements-description h3 {
  font-size: 0.7rem;
}

.trending {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.trending-description {
  background-color: white;
  border-radius: 10px;
  padding: var(--general-padding);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.trending-description > div {
  display: flex;
  column-gap: 5px;
}

.trending-description img {
  width: 25px;
  height: auto;
}

.trending-description p {
  font-size: 0.7rem;
}

.trending .user {
  font-weight: bold;
  margin-bottom: 0px;
}

.trending .description {
  color: rgb(133, 133, 133);
  margin-top: 3px;
}

/*.user-and-phrase {
  display: flex;
  flex-direction: column;
}*/







